/*****************************************************/
/*Main Things*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

::selection{
    background-color: #23272a;
    color: #fff;
}

h1{
    font-size: 64px;
    font-family: "NoirProLight", Arial, sans-serif;
    color: #fff;
}

ul{
    list-style: none;
}

/*****************************************************/
/*Lenis*/

html.lenis {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/*****************************************************/
/*Accueil*/

section{
    padding: 6em 4em;
    color: #fff;
    background-image: linear-gradient(135deg,#0fc2e3,blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    box-shadow: inset 0px -3px 300px #00000090;
}

section > div{
    margin-top: 2em;
}

.content{
    display: flex;
    background-color: #fff;
    border-radius: 50em;
    width: 100%;
    height: fit-content;
}

.content > img{
    align-self: center;
    width: 16em;
    height: 16em;
    border-radius: 50em;
}

.content > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    color: blue;
    font-size: 24px;
    font-family: "NoirProLight", Arial, sans-serif;
}
.content > div > div{
    margin: 1em;
    margin-right: 3em;
    width: 90%;
}

.content > div > div ul{
    margin-left: 1em;
    list-style: disc;
}

.content > div > div ul li{
    font-size: 20px;
    margin-bottom: 10px;
}

.content > div > div ul > li{
    margin-top: 10px;
}

/*Div du bouton*/
.content > div > div+div{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 0;
    width: 100%;
    height: min-content;
}

h2{
    font-size: 32px;
    font-family: "NoirProMedium", Arial, sans-serif;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
}

.other h2{
    margin-bottom: .1em;
    text-align: center;
}

.details{
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.details div{
    background-color: #fff;
    width: 100%;
    padding: 1.5em;
    color: blue;
    border-radius: 5em;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: "NoirProLight", Arial, sans-serif;
}

.details div+div ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 1260px){

    section{
        height: fit-content;
        padding: 0;
        padding-top: 6em;
    }

    h1{
        text-align: center;
    }

    .content{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 90%;
        padding-bottom: 10em;
    }

    .content > div{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .content > div > div{
        margin: auto;
        text-align: center;
        width: 80%;
    }

    .content > div > div+div{
        margin: auto;
        text-align: center;
        justify-content:center;
        width: 90%;
    }

    .other{
        margin-top: 1em;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details{
        margin: 1em 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .details > div{
        width: 80%;
    }
}