/*****************************************************/
/*Main Things*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    animation-duration: 1s;
    animation-delay: 1s;
}

body{
    background-image: linear-gradient(135deg,#0fc2e3,blue);
    height: calc(100vh - 6em);
}

::selection{
    background-color: #23272a;
    color: #fff;
}

h1{
    font-size: 64px;
    color: #fff;
}

/*****************************************************/
/*Nav bar*/

header{
    position: fixed;
    width: min-content;
    font-size: 32px;
    top: 0;
}

header nav {
    margin-left: 1em;
    margin-right: 1em;
}

header nav a{
    color: #fff;
    text-decoration: none;
    gap: 1em;
}

header nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 3em;
    width: 100%;
    list-style: none;
}

header nav > ul li{
    margin-right: 1em;
}

header nav > ul li+li+li+li+li{
    margin-right: 0;
}

/*****************************************************/
/*Accueil*/

section{
    margin: 6em 4em;
    height: 100%;
    color: #fff;
}

section > div{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

section > div > img{
    width: 16em;
    height: 16em;
    border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
}

.content{
    background-color: #fff;
    color: blue;
    padding: 1em;
    font-size: 24px;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}

.content h2{
    font-size: 32px;
}

.other{
    margin-left: 6em;
}

.details{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}