/*****************************************************/
/*Main Things*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    animation-duration: 1s;
    animation-delay: 1s;
}

body{
    background-image: linear-gradient(135deg,#0fc2e3,blue);
    height: calc(100vh - 6em);
}

::selection{
    background-color: #23272a;
    color: #fff;
}

.see-button{
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,#1af4b7, #1db68b, #1af4b7);
    border-radius: 30px;
    width: auto;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 30px;
}

h1{
    font-size: 64px;
    color: #fff;
}

/*****************************************************/
/*Nav bar*/

header{
    position: fixed;
    width: 50%;
    font-size: 32px;
    top: 0;
}

header.sticky{
    font-size: 64px;
}

.menu_nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 3em;
    width: 100%;
    list-style: none;
}

.menu_nav a{
    color: #fff;
    text-decoration: none;
}

.menu_nav {
    margin-left: 1em;
    margin-right: 1em;
}

/*****************************************************/
/*Accueil*/

section{
    margin: 6em 4em;
    height: 100%;
    color: #fff;
}

section > div{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

section > div > img{
    width: 16em;
    height: 16em;
    border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
}

.content{
    background-color: #fff;
    color: blue;
    padding: 1em;
    font-size: 24px;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}

.content h2{
    font-size: 32px;
}

.other{

}

#accueil > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6em;
    padding-top: 9em;
}

#accueil > div > div{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

#accueil > div > div > div{
    background-color: #fff;
    color: blue;
    border-radius: 2em 3em;
    padding: 1.5em;
    font-size: 24px;
    width: 50%;
    height:fit-content;
}

#accueil img{
    display: block;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

#accueil nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 20em;
}

#accueil nav a{
    text-decoration: none;
    color: #fff;
}