/*****************************************************/
/*Main Things*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    position: absolute;
    top: 0;
    background-color: #23272a;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

::selection{
    background-color: #23272a;
    color: #fff;
}

/*****************************************************/
/*Nav bar*/
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    font-size: 32px;
    z-index: 1000;
    transition: ease-in all 500ms;
}

header nav{
    width: fit-content;
}

header > nav+nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header > nav+nav a{
    width: 50px;
    height: 50px;
}

header > nav+nav a img{
    width: 100%;
    height: 100%;
}

header.scrolled {
    border-right: #1af4b7 solid 2px;
    border-bottom: #1af4b7 solid 2px;
    background-color: #23272a;
    animation: nav-scrolled 500ms forwards;
}

@keyframes nav-scrolled {
    from{
        margin-top: -6em;
    } to{
        margin-top: 0;
    }
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 3em;
    width: 100%;
    list-style: none;
}

header > nav > ul li{
    margin-right: 1em;
}

header > nav > ul li+li+li+li+li{
    margin-right: 0;
}

header > nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    gap: 1em;
    transition: ease-in all 250ms;
}

header > nav a::after{
    content: ' ';
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -5px;
    transition: ease-in all 100ms;
}

header > nav a:hover::after{
    width: 100%;
}
header > nav+nav a:hover::after{
    width: 0;
}

header > nav {
    margin-left: 1em;
    margin-right: 1em;
}

/*****************************************************/
/*Accueil*/

#accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    z-index: 1;
    background-image: linear-gradient(135deg,#0fc2e3,blue);
    width: 100%;
    height: 90vh;
    border-radius: 0% 0% 30% 30% / 0% 0% 30% 30% ;
}

#accueil > div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1em;
}

#accueil > div > div{
    background-color: #fff;
    color: blue;
    border-radius: 2em 3em;
    padding: 1.5em;
    font-size: 24px;
    width: fit-content;
    height:fit-content;
}

#accueil img{
    display: block;
    border-radius: 50%;
    height: 15em;
    width: 15em;
}

#accueil nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    width: fit-content;
    gap: 1em;
}

/*****************************************************/
/*Competences*/

#competences{
    padding: 6em 4em;
    z-index: 3;
    height: 100vh;
}

#competences h1{
    font-size: 48px;
    color: #1db68b;
}

/*****************************************************/
/*Formations*/

#formations{
    position: relative;
    background-color: #23272a;
    padding: 6em 4em;
    color: #fff;
    height: 80vh;
    border-radius: 0% 0% 30% 30% / 0% 0% 30% 30% ;
    z-index: 3;
}

#formations h1{
    font-size: 48px;
    color: #1db68b;
}

/*****************************************************/
/*Projets*/

#projets{
    position: relative;
    margin-top: -15%;
    z-index: 2;
    padding: calc(6em + 15%) 4em;
    background-image: linear-gradient(-45deg,#0fc2e3,blue);
    min-height: 100vh;
    color: #fff;
}

#projets h1{
    font-size: 48px;
}

.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    width: 10em;
    padding: 2em;
    background-color: #fff;
    color: #1db68b;
    border-radius: 2em 3em;
    font-size: 24px;
    text-align: center;
}

.projet h2{
    font-size: 32px;
}

.projet p{
    margin: 1em;
}

.projet img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

/*****************************************************/
/*Footer - Contact*/

body > footer{
    position: sticky;
    top: 100%;
    min-height: 20vh;
    z-index: 4;
    background-color: #23272a;
}